/*scrollmenu*/
.scrollmenu ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
    font-size: 25px;
}

.scrollmenu li {
  float: left;
}

.scrollmenu li a {
  display: block;
  color: black;
  padding: 10px;
  margin-top: 18%;
  text-decoration: none;
  font-size: 25px;
}

.scrollmenu li a:hover {
  background-color: #ddd;
}

.scrollmenu #logoen {
  width: 120px;
  padding-top: 7px;
}

/*header forside*/



#h1home {
  text-align: center;
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

#klokka {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}

/* div infotekst*/
#infotekst {
  border: 3px solid grey;
  text-align: center;
  width: 700px;
  margin: auto;
  font-size: 30px;
  padding: 5px;
}

#bilde1 {
  position: center;
   top: 0;
   left: 0;
   right: 0;
   margin: auto;
}

/* knapp forside*/
.knapp {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition-duration: 0.3s;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  margin-top: 20px;
  width: 100px;
}

/*8TRAPY*/

.a1 {
  border: 3px solid grey;
  text-align: center;
  width: 80%;
  margin: left;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 30px;
  margin-left: 10%;
}

.b1 {
display: block;
 margin:auto;
 width: 30%;
 position: center;
}



/*responsive*/
@media only screen and (max-width:769px) {
  /* For mobile phones: */

  .scrollmenu ul{
    width: 100%;
  }

  .scrollmenu li a{
    font-size: 40px;
  }

  #logoen{
    width: 200px;
  }

  #infotekst {
    width: 100%;
    padding: 5px;
    font-size: 4vW;
  }

  .knapp {
    width: 30%;
    margin-bottom: 50%;
  }

  #h1home{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 150px;
  }

  .b1{
    width: 60%;
  }

  .a1{
    width: 100%;
    font-size: 4vW;
    margin: 80px auto;
  }
}
