
/*scrollmenu*/
.scrollmenu ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
    font-size: 25px;
}

.scrollmenu li {
  float: left;
}

.scrollmenu li a {
  display: block;
  color: black;
  padding: 10px;
  margin-top: 18%;
  text-decoration: none;
  font-size: 25px;
}

.scrollmenu li a:hover {
  background-color: #ddd;
}

#logoen {
  width: 120px;
  padding-top: 7px;
}

/*header forside*/



#h1home {
  text-align: center;
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

#klokka {
  display: block;
  margin: auto;
  width: 40%;
}

/* div infotekst*/
div.infotekst {
  border: 3px solid grey;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  margin-left: 10%;

}

#bilde1 {
  position: center;
   top: 0;
   left: 0;
   right: 0;
   margin: auto;
}

/* knapp forside*/
.knapp {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition-duration: 0.3s;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  margin-top: 20px;
  width: 100px;
}

/*8TRAPY*/

.a1 {
  border: 3px solid grey;
  text-align: center;
  width: 80%;
  margin: left;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 30px;
  margin-left: 10%;
}

.b1 {
display: block;
 margin:auto;
 width: 30%;
 position: center;
}

@media only screen and (min-width:769px) {
  .home {
    display: block;
    width: 100%;
  }
  div.infotekst h1{
    font-size: 60px;
  }
  div.infotekst p {
    font-size: 35px;
  }
